@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
body{
  font-family: 'Poppins', sans-serif;
  background-color: rgba(0, 0, 0, 0.932);
}
.section{
  height: 89vh;
  color: white;
  text-align: center;
  padding: 0.3rem;
}